@import "../variables";

.chapter-nav-page {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */

    h1 {
        text-align: center;
        font-size: 1.5rem;
        //background-color: $primary-color;
        padding-top: 2rem;
        padding-bottom: 1rem;
        margin: 0; 
        color: $dark-purple;
        border-bottom: 2px solid black;
    }

    h2 {
        font-size: 15px;
        border-bottom: 2px solid black;
        margin: 0; /* Adjust top and bottom margin, and center horizontally */
        text-align: center;
        padding-top: 5rem;
        max-width: 100%; /* Limit maximum width to prevent horizontal scrolling */
        
    }
    .even {
        background-color: rgba($primary-color, 0.3);

    }
}