.chapter-nav-page {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */

    h1 {
        text-align: center;
        font-size: 1.5rem;
        background-color: $dark-purple;
        padding: 1.5rem;
        margin: 0; /* Remove margin */
    }

    h2 {
        font-size: 15px;
        border-bottom: 2px solid black;
        margin: 2rem 0; /* Adjust top and bottom margin, and center horizontally */
        text-align: center;
        padding-top: 3rem;
        max-width: 100%; /* Limit maximum width to prevent horizontal scrolling */
    }

    .even {
        background-color: $primary-color;
    }

}