@import "../variables";

.chapter-nav-page {
    margin: 0;
    padding: 0; 

    h1 {
        text-align: center;
        font-size: 1.5rem;
        //background-color: $primary-color;
        padding-top: 2rem;
        padding-bottom: 1rem;
        margin: 0; 
        color: $dark-purple;
        border-bottom: 2px solid black;
    }

    h2 {
        font-size: 1.1rem;
        border-bottom: 2px solid black;
        margin: 0; 
        text-align: center;
        padding: 2rem;
        max-width: 100%; 
        
    }
    .even {
        background-color: rgba($primary-color, 0.3);

    }
}