@import '../variables';
.education-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--secondary);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
    h2 {
        font-size: 24px;
        margin-bottom: 20px;
        color: dark-purple;
    }
}