@import '../variables';

.education-page {
    margin: 1rem auto;
    padding: 1.5rem;

    h2 {
        font-size: 24px;
        margin-bottom: 20px;
        color: $dark-purple;
        text-align: center;
    }
    .learningObjective {
        margin: 2.5rem auto 1.5rem;
        align-content: center;
        border-radius: .3rem;
        width: 10rem; // Set width to form a square
        height: 1rem; // Set height to form a square
        background-color: $primary-color; // Set background color
        padding: 10px; // Optional: padding inside the square
        text-align: center; // Center the text horizontally
        // line-height: 80px; // Center the text vertically (height - padding)
        // box-sizing: border-box; // Include padding and border in the element's total width and height
        p {
            //color: $light-purple;
            font-weight: 600;
        }
    }

    .next-page-btn{
        display: flex;
        justify-content: space-evenly;
        margin: 3rem auto 2rem;
    }
}