@import "../variables";

.homepage {
  margin: auto 1rem;

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  .chapter-banner {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .lesson-component {
    width: 100%;
    &:nth-child(even) {
      margin-left: auto;
    }
    svg {
      margin: 1.5rem;
    }
  }

  .glossary-btn{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1.5rem;
  }
}
