// colours
$text-color: #050315;
$light-purple: #FAF3F7;

// medium color is primary color for the app
$primary-color: #BE95C4;
// secondary / heading colour
$dark-purple: #5E548E;
// $dark-purple: #231942;

$accent-color: #BCD3FA;

// for quiz
$green: rgb(162, 217, 162);
$red: rgb(210, 149, 149);

// original colors
// $text-color: black;
// $blue: #BCD3FA;
// $light-purple: #c2affc54;
// $heading-background: #C2AFFC;
