// colours
$text-color: #050315;
$light-purple: #FAF3F7;

// $blue: #BCD3FA;
// $light-purple: #c2affc54;

// medium color is primary color for the app
$primary-color: #BE95C4;
// secondary / heading colour
$dark-purple: #5E548E;
// $dark-purple: #231942;

$accent-color: #BCD3FA;
