@import './components/components';
@import './pages/pages';
@import 'variables';

body, p, a {
    color: black;
    text-decoration: none;
    font-size: 14px;
}
body{
    background-color: $light-purple;
}
.close-button svg {
    fill: black;
    height: 2rem;
    width: 2rem;
    margin: 1rem .5rem .5rem 0.5rem;
    position: absolute;
    right: 0;
    top: 0;
}

.next-page-btn {
    margin: 20px;
    text-align: right;
  }
  
.next-page-btn em {
  font-style: italic;
}

.next-page-btn a {
  display: inline-block;
  background-color: $dark-purple;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
  margin-top: auto;
}

.next-page-btn button {
  display: inline-block;
  background-color: $dark-purple;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
  margin-top: auto;
  border: none;
}

.next-page-btn a:hover {
  background-color: $dark-purple;
}
  
