
@import "../variables";

.lesson-popup{
    border: solid black .08rem;
    border-radius: .5rem;
    margin: .8rem 0;
    width: clamp(8rem, 12rem, 16rem);
    // max-width: 100vw;
    font-weight: bold;
    padding: .8rem;
    background-color: white;

    position: absolute;
    z-index: 999;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a {
        margin: .5rem;
        padding: .5rem;
        border: solid black .08rem;
        border-radius: .5rem;
        background-color: $primary-color;
    }
}