/* Error: This module and the new module both define a variable named "$text-color".
 *   ,
 * 1 | @use '../variables' as *;
 *   | ^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   sass\pages\_quizpage.scss 1:1  @import
 *   sass\pages\_pages.scss 4:9     @import
 *   sass\style.scss 2:9            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: This module and the new module both define a variable named \"$text-color\".\a   \2577 \a 1 \2502  @use '../variables' as *;\d\a   \2502  ^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   sass\\pages\\_quizpage.scss 1:1  @import\a   sass\\pages\\_pages.scss 4:9     @import\a   sass\\style.scss 2:9            root stylesheet";
}
